.container {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.crown {
  position: absolute;
  top: -50px;
  left: 62%;
  transform: translateX(-50%);
  z-index: 10;
}