.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalPanel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
}